body {
  background-color: #ffffff;
}
.home-page {
  p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}
.nav {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 10px;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  .links {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
      justify-self: center;
      color: #474746;
      a {
        color: #474746;
      }
    }
  }
}
.form-data {
  display: grid;
  grid-template-columns: 1fr;
  form {
    justify-self: center;
    width: 80%;
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    label {
      font-size: 16px;
      color: #474746;
      font-weight: 700;
    }
    input,
    textarea {
      padding-left: 15px;
      height: 40px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-e9d023);
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e9d023;
      border-radius: 8px;
      opacity: 1;
    }
    textarea {
      height: 70px;
    }
    button {
      justify-self: center;
      width: 30%;
      height: 40px;
      background: var(--unnamed-color-e9d023) 0% 0% no-repeat padding-box;
      background: #e9d023 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      border: none;
    }
  }
}
.product-list-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  gap: 15px;
  justify-self: center;
  width: 80%;
  .product-list {
    display: grid;
    grid-template-columns: 1fr;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 10px;
    padding-bottom: 1rem;
    position: relative;
    .status {
      position: absolute;
      background-color: #d80073;
      width: 40%;
      text-align: center;
      height: 45px;
      margin: auto;
      border-radius: 20px 0 0 20px;
      right: 0;
      color: #fff;
    }

    img {
      grid-column: 1/-1;
      width: 100%;
      height: 250px;
    }
    .card-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-self: center;
      width: 90%;
      .name {
        color: #d80073;
        font-weight: 700;
        font-size: 12px;
      }
      .desc {
        grid-column: 1/-1;
      }
      p {
        color: #474746;
        text-align: left;
      }
      .price {
        color: #474746;
        justify-self: end;
      }
      button {
        grid-column: 1/-1;
        height: 30px;
        border: none;
        width: 30%;
        justify-self: center;
        background: #e9d023 0% 0% no-repeat padding-box;
        border-radius: 8px;
      }
    }
  }
}
.cart-container {
  h2 {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1rem;
    gap: 1rem;
    .cart-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      row-gap: 1rem;
      align-items: center;

      img {
        // grid-column: 1/-1;
        height: auto;
        width: 50%;
      }
    }
  }
}
