.nav {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 10px;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  .links {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
      justify-self: center;
      color: #474746;
      a {
        color: #474746;
      }
    }
  }
}
